// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

environment {
  XDG_CURRENT_DESKTOP "niri"
}

// Note [2026/02/03 klappo] status bar
spawn-at-startup "waybar";

// Note [2026/02/03 klappo] Desktop Background image loader
spawn-sh-at-startup "swaybg -i $HOME/Pictures/alena-aenami-for-y1900.jpg"; // Wallpaper

// Note [2026/02/03 klappo] Notification Daemon
spawn-at-startup "swaync";

// Note [2026/02/03 klappo] Browser
spawn-at-startup "google-chrome-stable";

// Note [2026/02/03 klappo] show or not show help message at start
hotkey-overlay {
    // skip-at-startup
}

// config-notification {
//     disable-failed
// }

gestures {
    hot-corners {
        off
    }
}

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen. focus-follows-mouse max-scroll-amount="0%"
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth

    // Make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    keyboard {
        xkb {
            layout "us,ru"
            options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }

        repeat-delay 400
        repeat-rate 70

        // Note [2026/02/03 klappo] I don't like enabled numlock at start
        // numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
//        off
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}


// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
/-output "eDP-2" {
    mode "2560x1600@239.998993"
    position x=2560 y=0
    variable-refresh-rate
}


// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {

    gaps 4

    focus-ring {
        width 1.5
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    default-column-width { proportion 0.5; }

    background-color "#0b2958"

    // When to center a column when changing focus, options are: never, always, on-overflow
    // - "on-overflow", focusing a column will center it if it doesn't fit together with the previously focused column.
    center-focused-column "never"

    // "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    // disabled
    border {
        off
        width 4
        active-color   "#707070"      // Neutral gray
        inactive-color "#d0d0d0"      // Light gray
        urgent-color   "#cc4444"      // Softer red
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }
}

layer-rule {
  match namespace="^notifications$"

  block-out-from "screencast"
}

overview {
    workspace-shadow {
        off
    }
}

// Show info on opened apps: niri msg windows

// Default window rules for all windows
prefer-no-csd

window-rule {
  geometry-corner-radius 4
  clip-to-geometry true
}

window-rule {
  match app-id="jetbrains-toolbox"

  open-floating true
  default-floating-position x=4 y=4 relative-to="bottom-right"
}

// Note [2026/02/03 klappo] "open-maximized true" sometimes overflows waybar
window-rule{
  match app-id="jetbrains-rider"

  default-column-width { proportion 1.0; }
}

window-rule {
  match app-id="google-chrome"

  default-column-width { proportion 1.0; }
}

// Note [2026/02/03 klappo] VS Code
window-rule {
  match app-id="code"

  default-column-width { proportion 1.0; }
}

window-rule {
  match app-id="Alacritty"

	// Note [2026-02-08 klappo] is controlled by alacrity itself 
  // opacity 0.95
}

window-rule {
  match app-id="Slack"

  default-column-width { proportion 1.0; }
}

window-rule {
  match app-id="Aimp"

  default-column-width { proportion 0.3; }
  open-floating false
}

window-rule {
    match app-id=r#"^org\.gnome\."#

    draw-border-with-background false
    geometry-corner-radius 4
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#

    default-column-width { proportion 0.5; }
    open-floating false
}

window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#

    open-floating true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"

    draw-border-with-background false
    opacity 0.9
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}

// Open dms windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#

    default-column-width {}
}

window-rule {
  match app-id="org.gnome.Nautilus"

  open-floating false
  default-column-width { proportion 0.5; }
}

debug {
    honor-xdg-activation-with-invalid-serial
}


screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

// Full list of defaults: https://github.com/YaLTeR/niri/wiki/Getting-Started#main-default-hotkeys
binds {

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return hotkey-overlay-title="Open a Terminal (alacritty)" { spawn "alacritty"; }
    Ctrl+Alt+T hotkey-overlay-title="Open a Terminal (alacritty)" { spawn "alacritty"; }

    Mod+D hotkey-overlay-title="Start Launcher: fuzzel" { spawn "fuzzel"; }
    Ctrl+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    Win+E hotkey-overlay-title="Open Files (nemo, nautiluse, etc)" { spawn-sh "nautilus || nemo"; }

    Win+G hotkey-overlay-title="Open Browser (chrome, firefox, etc)" { spawn-sh "google-chrome-stable || firefox"; }

    // # Toggle control center
    Mod+Shift+N  hotkey-overlay-title="Open/Close Notifications" repeat=false { spawn-sh "swaync-client -t -sw"; }


    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }
    Alt+F4 hotkey-overlay-title="Good-old close window action" repeat=false { close-window; }

    // Mod+Left  { focus-column-left; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    // Mod+Right { focus-column-right; }
    Mod+Left  { focus-column-or-monitor-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // Mod+Ctrl+Left  { move-column-left; }
    // Mod+Ctrl+Down  { move-window-down; }
    // Mod+Ctrl+Up    { move-window-up; }
    // Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Ctrl+Left  { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right-or-to-monitor-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }


    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }


    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Column & Window Resizing
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+C { center-column; }
    Mod+minus { set-column-width "-10%"; }
    Mod+equal { set-column-width "+10%"; }

    // Floating & Layout
    Mod+V { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    // Screenshots (built-in, no external tool needed)
   Print { screenshot; }
   Alt+Print { screenshot-window; }
   Ctrl+Print { screenshot-screen; }
}

// Override to disable super+tab
// recent-windows {
//     binds {
//         Alt+Tab         { next-window scope="output"; }
//         Alt+Shift+Tab   { previous-window scope="output"; }
//         Alt+grave       { next-window filter="app-id"; }
//         Alt+Shift+grave { previous-window filter="app-id"; }
//     }
// }

include "dms/colors.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/wpblur.kdl"
