// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

environment {
  XDG_CURRENT_DESKTOP "niri"
}

// Note [2026/02/03 klappo] Browser
spawn-at-startup "google-chrome-stable";

// Note [2026/02/03 klappo] show or not show help message at start
hotkey-overlay {
    // skip-at-startup
}

// config-notification {
//     disable-failed
// }

gestures {
    hot-corners {
        off
    }
}

overview {
    workspace-shadow {
        off
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}


screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "user/input.kdl"
include "user/output.kdl"
include "user/layout.kdl"
include "user/window-rules.kdl"
include "user/binds.kdl"
include "user/animations.kdl"

include "dms/colors.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/wpblur.kdl"
include "dms/windowrules.kdl"
