[Desktop Entry]
Name=Tag Editor
Name[ru]=Редактор тегов
GenericName=Tag Editor
Comment=Easily edit audio file info.
Comment[ru]=Легко и просто редактировать теги аудиофайлов.
Exec=/opt/aimp/AIMPate
TryExec=/opt/aimp/AIMPate
Icon=/opt/aimp/Assets/ate-tile-sm.png
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Player;AIMP
# use dedicated GPU if available
PrefersNonDefaultGPU=true
